:root {
    font-size: 112%;
    line-height: 1.4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: #16161d;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #edeff0;
    padding: 1rem;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #33678e;
}

a:hover {
    text-decoration: underline;
    color: #2d4262;
}

a:active {
    color: #28a0cb;
}

a:visited {
    color: #33678e;
}

.state {
    border: 0.125rem solid #ccc;
    border-radius: 0.25rem;
    background-color: #f7fafc;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 1rem;
    width: 17rem;
}

.state-dem {
    color: #f7fafc;
    background-color: #28a0cb;
    border-color: #33678e;
}
.state-rep {
    color: #f7fafc;
    border-color: #8e333c;
    background-color: #f45d79;
}

.text-white {
    color: #f7fafc;
}

.text-dem {
    color: #28a0cb;
}
.text-rep {
    color: #f45d79;
}
.bg-dem {
    background-color: #28a0cb;
}
.bg-rep {
    background-color: #f45d79;
}
